<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Railway app</title>
  </head>
  <body>
    <p style="color:black">Error </p>
    <br />
    <a href='/'>Main</a>
  </body>
</html>